* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

header {
  padding-top: 200px;
  height: 100vh;
  color: #fff;
  background-image: url(/img/dd797338136089.5756eccc00480.png);
  background-size: cover;
  flex-direction: column;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

h1,
h2,
h4 {
  color: #00ccff;

}

header h1 {
  font-size: 64px;
  font-style: bold;
}

header h2 {
  font-size: 64px;
}

header h4 {
  font-size: 32px;
}

h3 {
  text-transform: uppercase;
  color: #00ccff;
}

h5,
h6 {
  text-transform: uppercase;
  color: #fff;
}

.container-fluid {
  padding: 0;
}

.submit-button {
  width: 100%;
  height: 50px;
}

.popup-opener,
.submit-button {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #00ccff;
  color: #fff;
  margin: 0 auto;
  border: none;
  padding: 1% 3%;
  border-radius: 5px;
  -webkit-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

.popup-opener:hover,
.submit-button:hover {
  -webkit-box-shadow: inset 0 0 20px #00ccff;
  box-shadow: inset 0 0 20px #00ccff;
  cursor: pointer;
}

.my-name {
  margin-top: 2%;
  margin-bottom: 1%;
}

.me-front-ender {
  margin-bottom: 8%;
}

.slideInLeft {
  padding-left: 15px;
}

.about-me-yellow-stick {
  color: #ffc42c;
  margin-right: 10px;
  font-weight: 900;
  margin-left: -3px;
}

.about-me-header {
  padding-top: 10%;
}

progress {
  height: 10px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.about-me h6 {
  color: #000;
}

.about-me li {
  list-style: none;
  font-family: 'Museo Sans Cyrl 300';
}

.about-me {
  margin-left: 0;
  margin-right: 0;
}

.about-me-article {
  padding-left: 0;
}

.personal-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-photo img {
  width: 70%;
  margin: auto;
}

.portfolio-yellow-stick {
  color: #ffc42c;
  margin-right: 10px;
  font-weight: 900;
  margin-left: -8px;
}

.portfolio h3 {
  width: 195px;
  border-left: 1px solid #aeaeae;
  padding-top: 4%;
  padding-bottom: 2%;
  margin: 0 auto;
}

.slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slide-center {
  -webkit-box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  width: 30%;
  height: 350px;
  margin: 32px 5% 28px 5%;
}

.slide-side {
  display: block;
  -webkit-box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 49px -6px rgba(0, 0, 0, 0.75);
  width: 30%;
  height: 350px;
  margin-bottom: 28px;
  margin-top: 32px;
}

.slide-side img,
.slide-center img {
  width: 100%;
  height: 100%;
}

.slide-side:hover,
.slide-center:hover {
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

footer {
  padding: 50px;
  background-image: url(/img/30%20Programming%20HD%20Wallpapers%20for%20Desktop.jpg);
  color: #fff;
  height: 50vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer a {
  display: block;
  color: #fff;
  font-weight: 700;
  margin: 3% 0;
  -webkit-transition: all ease-in-out 200ms;
  -o-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none;
}

.popup {
  display: block;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  padding: 5%;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}

.popup h3 {
  text-transform: uppercase;
  color: #000;
}

.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #c9c9c9;
  outline: none;
  margin-bottom: 5%;
}

#name {
  margin-top: 5%;
}

.popup-close-button {
  width: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.popup-close-button:hover {
  cursor: pointer;
}

#message-box {
  font-size: 24px;
}

@media screen and (min-width: 1700px) {
  .slide-wrapper .slide-side {
    height: 458px;
  }
  .slide-wrapper .slide-center {
    height: 458px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-lg {
    display: block;
  }
  .carousel-sm {
    display: none;
  }
  .slide-side {
    height: 300px;
  }
  .slide-center {
    height: 300px;
  }
}

@media screen and (max-width: 991px) {
  .carousel-lg {
    display: none;
  }
  .carousel-sm {
    display: block;
  }
  .slide-wrapper {
    display: block;
  }
  .slide-center {
    margin: 0;
  }
  .popup {
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
  }
  .personal-photo img {
    margin-top: 0;
    height: 100%;
  }
}
